.themeWrapp {
  background-color: var(--bg);

  &[data-theme='light'] {
    background-color: #f2f3f9;
  }
}

.main {
  padding: 64px 20px;
}

.searchWrapp {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 24px;

  span {
    position: absolute;
    background-color: var(--primary);
    padding: 8px 14px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 4px;
    cursor: pointer;
  }
}
