.footer {
  text-align: center;
  font-size: var(--s16);
  width: 100%;
  background-color: #131314;
  padding: 16px 20px;

  a {
    color: var(--primary-100);
    font-weight: bold;

    &:first-child {
      margin-right: 6px;
    }
  }

  &[data-theme='light'] {
    background-color: #767ebd;

    a {
      color: #4133c2;
    }
  }
}
